<h1><%= title %></h1>

<% if (genre_list.length){ %>
    <ul>
        <% genre_list.forEach(genre => { %>
        <li style="list-style-type:none">
            <a href="<%= genre.url %>"><%= genre.name%></a>
        </li>
    <% }) %>
    </ul>
<% } %>